<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    {% block head %}
        <title>Eggoz Retailer Sign Up Form</title>

    <!--Custom css file  -->
      <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
      <link rel="stylesheet" href="{% static 'base/css/util.css' %}">
        <style>
            .mb-p{
                margin-bottom:8px;
            }
        </style>
    {% endblock head %}




</head>
<body>
{% block content %}
    <div class="container-retailer100">
    <div class="wrap-retailer100">

        <p> You have Logged out</p>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" ></script>
    </div>
</div>
{% endblock content %}
</body>
</html>