<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="./tax_invoice.css" rel="stylesheet">
    <title>Tax Inovice</title>
</head>

<body>
<div class="invoice_wrap">
    <table class="header">
        <tbody>
        <tr>
            <td>
                <img alt="logo" src="./new-logo-yellow.png"/>
                <h2>Nupa Technologies Private Limited</h2>
                <p>Shri Ram Market, Ram Chandrapur<br>
                    Oppsoite Big Bazar Bihar Sharif, 803101<br>
                    India<br>
                    GSTIN: 10AAFCN8547D1ZP</p>
            </td>
            <td style="text-align:center; border-left: 0;">
                <h1>CREDIT NOTE</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p>#Invoice No&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>:&nbsp;&nbsp;&nbsp;NUPABH/20-21/0029</strong><br>
                    Invoice Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>:&nbsp;&nbsp;&nbsp;22/11/2020</strong><br>
                    Terms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>:&nbsp;&nbsp;&nbsp;Due on Receipt</strong><br>
                    Due Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;<strong>:&nbsp;&nbsp;&nbsp;22/11/2020</strong></p>
            </td>
            <td>
                <p>Place of Supply&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;<strong>:&nbsp;&nbsp;&nbsp;Bihar(10)</strong></p>
            </td>
        </tr>
        <tr>
            <td class="bill_info">
                <p>Bill To</p>
            </td>
            <td class="bill_info">
                <p>Ship To</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>A S Tarders</strong><br><br>
                    Hosainpur Road<br>
                    Mojahidpu West<br>
                    Near Maszid<br>
                    Bhagalpur, Bihar 812002<br>
                    India<br>
                    GSTIN:10AGLPA5041N1ZP
                </p>

            </td>
            <td>
                <p><strong>A S Tarders</strong><br><br>
                    Hosainpur Road<br>
                    Mojahidpu West<br>
                    Near Maszid<br>
                    Bhagalpur, Bihar 812002<br>
                    India<br>
                    GSTIN:10AGLPA5041N1ZP
                </p>
            </td>
        </tr>
        <!-- <tr>
            <td class="bill_info">
                <p>Bill To</p>
                <p><strong>A S Tarders</strong><br><br>
                    Hosainpur Road<br>
                    Mojahidpu West<br>
                    Near Maszid<br>
                    Bhagalpur, Bihar 812002<br>
                    India<br>
                    GSTIN:10AGLPA5041N1ZP
                </p>
            </td>
            <td class="bill_info">
                <p>Ship To</p>
                <p><strong>A S Tarders</strong><br><br>
                    Hosainpur Road<br>
                    Mojahidpu West<br>
                    Near Maszid<br>
                    Bhagalpur, Bihar 812002<br>
                    India<br>
                    GSTIN:10AGLPA5041N1ZP
                </p>
            </td>
        </tr> -->
        </tbody>
    </table>
    <table class="item_table">
        <tbody>
        <tr class="headings">
            <td rowspan="2">#</td>
            <td rowspan="2">Item&amp;Description</td>
            <td rowspan="2">HSN/SAC</td>
            <td rowspan="2">SKU Type</td>
            <td rowspan="2">Qty.</td>
            <td rowspan="2">SKU Rate</td>
            <td colspan="2">CGST</td>
            <td colspan="2">SGST</td>
            <td rowspan="2">Amount</td>
        </tr>
        <tr class="headings">
            <td>%</td>
            <td>Amt.</td>
            <td>%</td>
            <td>Amt.</td>
        </tr>
        <tr>
            <td>1.</td>
            <td>Eggoz Premium(6 SKU)</td>
            <td>4071990</td>
            <td>6</td>
            <td>2100</td>
            <td>39</td>
            <td>0%</td>
            <td>0.00</td>
            <td>0%</td>
            <td>0.00</td>
            <td>81,900</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Eggoz Premium(12 SKU)</td>
            <td>4071990</td>
            <td>12</td>
            <td>261</td>
            <td>76</td>
            <td>0%</td>
            <td>0.00</td>
            <td>0%</td>
            <td>0.00</td>
            <td>19,836</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Eggoz Premium(30 SKU)</td>
            <td>4071990</td>
            <td>30</td>
            <td>256</td>
            <td>190</td>
            <td>0%</td>
            <td>0.00</td>
            <td>0%</td>
            <td>0.00</td>
            <td>48,640</td>
        </tr>
        </tbody>
    </table>

    <table class="footer">
        <tbody>

        <tr>
            <td colspan="2" rowspan="2" style="width: 50%; border-bottom: 0; padding-left: 2rem;">
                <p>Total In Words<br>
                    <strong>Rupees One Lac Twenty-Five Thousand Nine Hundred Eighty Only</strong><br><br>
                    Thanks for your business.<br><br>
                    Terms & Conditions*
                </p>
            </td>
            <td class="amount_details" colspan="4">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub
                    Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150.376<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGST0(0%)
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SGST(0%)
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Balance
                        Due&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;125,980</strong>
                </p>
                <br>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center; padding-top: 2rem;">
                <img alt="stamp and sign" src="./new-logo-yellow.png">
                <br><br>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="border-top: 0;">
                <br><br>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>